{
	order coraza_waf first
}

bugstore.bugtraceai.com {
	log {
		output stdout
		format json
	}

	coraza_waf {
		load_owasp_crs
		directives `
			SecRuleEngine On
			SecRequestBodyAccess On
			SecRequestBodyLimit 1048576
			SecRequestBodyNoFilesLimit 131072
			SecRequestBodyInMemoryLimit 131072
			SecResponseBodyAccess Off
		`
	}

	reverse_proxy localhost:8000
}
